<div class="container">
  <h2 class="mt-1">Posts</h2>
  <button (click)="getPosts()" class="btn btn-success mb-3">Show Posts</button>
  <div class="container-fluid card mb-3">
    <div class="card-body">
      <app-spinner *ngIf="spinnerVisible"></app-spinner>
      <ul *ngIf="showPosts" class="list-group">
        <li class="list-group-item" *ngFor="let post of posts">
          <div class="row">
            <div class="col">
              <p>{{ post.title }}</p>
              <p>{{ post.body }}</p>
            </div>
            <button class="btn btn-primary col mr-4">
              Edit
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button class="btn btn-primary col">
              Delete
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>